#hero-section h1 {
    font-size: 2rem;
    margin-bottom: var(--space-lg);
}

.post-preview {
    border-bottom: 1px solid var(--text-secondary);
    margin-bottom: var(--space-lg);
    padding-bottom: var(--space-sm);
}

.post-preview h2 {
    margin-bottom: 0;
}

.post-preview h2 a {
    color: var(--text-primary);
    text-decoration: none;
}