{% extends "base.html" %}
{% load static %}
{% block title %}Blog - Deppfellow Page{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/component.css' %}">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock extra_css %}

{% block content %}
<section id="hero-section">
    {% include 'partials/_header.html' %}

    <h1>Blog Posts</h1>
    <div class="post-list">
        {% include "partials/blog/_post_list.html" %}
    </div>
</section>
{% endblock content %}